<!-- Signup Form -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-control">
  <!-- Name Field -->
  <label class="label" for="name">
    <span class="label-text">{{ props.nameLabel }}</span>
  </label>
  <input formControlName="name" type="text" placeholder="{{ props.namePlaceholder }}" class="input input-bordered" id="name">
  <div *ngIf="signupForm.controls['name'].touched && signupForm.controls['name'].invalid" class="text-error">
    <small *ngIf="signupForm.controls['name']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['name']?.errors?.['minlength']">{{ validationErrors.fieldLengthRange | errorMessage: nameArgs }}</small>
  </div>

  <!-- Email Field -->
  <label class="label" for="email">
    <span class="label-text">{{ props.emailLabel }}</span>
  </label>
  <input formControlName="email" type="email" placeholder="{{ props.emailPlaceholder }}" class="input input-bordered" id="email">
  <div *ngIf="signupForm.controls['email']?.touched && signupForm.controls['email']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['email']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['email']?.errors?.['email']">{{ validationErrors.invalidEmail }}</small>
  </div>

  <!-- Password Field -->
  <label class="label" for="password">
    <span class="label-text">{{ props.passwordLabel }}</span>
  </label>
  <input formControlName="password" type="password" placeholder="{{ props.passwordPlaceholder }}" class="input input-bordered" id="password">
  <div *ngIf="signupForm.controls['password']?.touched && signupForm.controls['password']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['password']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['password']?.errors?.['minlength']">{{ validationErrors.fieldLengthRange | errorMessage: passwordArgs }}</small>
  </div>

  <!-- Confirm Password Field -->
  <label class="label" for="confirmPassword">
    <span class="label-text">{{ props.confirmPasswordLabel }}</span>
  </label>
  <input formControlName="confirmPassword" type="password" placeholder="{{ props.confirmPasswordPlaceholder }}" class="input input-bordered" id="confirmPassword">
  <div *ngIf="signupForm.controls['confirmPassword']?.touched && signupForm.controls['confirmPassword']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['confirmPassword']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
  </div>
  <div *ngIf="signupForm.controls['confirmPassword']?.touched" class="text-error">
    <small *ngIf="signupForm.hasError('mismatch')">{{ validationErrors.passwordMismatch }}</small>
  </div>

  <!-- GDPR Compliance Checkbox -->
<label class="label cursor-pointer mt-3 justify-start" for="gdprCompliance">
  <input formControlName="gdprCompliance" type="checkbox" [class.checkbox-error]="signupForm.controls['gdprCompliance'].invalid && signupForm.controls['gdprCompliance'].touched" class="checkbox checkbox-info mr-2" id="gdprCompliance">
  <span class="label-text" [innerHtml]="sanitizedGdprLabel"></span>
</label>

  <!-- Signup Button -->
  <div class="form-control mt-6">
    <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">{{ props.signupButtonLabel }}</button>
  </div>
</form>
