<!-- Signup Form -->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-control">
  <!-- First Name Field -->
  <label class="label" for="firstName">
    <span class="label-text">{{ props.firstNameLabel }}</span>
  </label>
  <input formControlName="firstName" type="text" placeholder="{{ props.firstNamePlaceholder }}" class="input input-bordered" id="firstName" />
  <div *ngIf="signupForm.controls['firstName'].touched && signupForm.controls['firstName'].invalid" class="text-error">
    <small *ngIf="signupForm.controls['firstName']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['firstName']?.errors?.['minlength']">{{ validationErrors.fieldLengthRange | errorMessage: firstNameArgs }}</small>
    <small *ngIf="signupForm.controls['firstName']?.errors?.['maxlength']">{{ validationErrors.fieldLengthRange | errorMessage: firstNameArgs }}</small>
  </div>

  <!-- Last Name Field -->
  <label class="label" for="lastName">
    <span class="label-text">{{ props.lastNameLabel }}</span>
  </label>
  <input formControlName="lastName" type="text" placeholder="{{ props.lastNamePlaceholder }}" class="input input-bordered" id="lastName" />
  <div *ngIf="signupForm.controls['lastName'].touched && signupForm.controls['lastName'].invalid" class="text-error">
    <small *ngIf="signupForm.controls['lastName']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['lastName']?.errors?.['minlength']">{{ validationErrors.fieldLengthRange | errorMessage: lastNameArgs }}</small>
    <small *ngIf="signupForm.controls['lastName']?.errors?.['maxlength']">{{ validationErrors.fieldLengthRange | errorMessage: lastNameArgs }}</small>
  </div>

  <!-- Email Field -->
  <label class="label" for="email">
    <span class="label-text">{{ props.emailLabel }}</span>
  </label>
  <input formControlName="email" type="email" placeholder="{{ props.emailPlaceholder }}" class="input input-bordered" id="email" />
  <div *ngIf="signupForm.controls['email']?.touched && signupForm.controls['email']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['email']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['email']?.errors?.['email']">{{ validationErrors.invalidEmail }}</small>
    <small *ngIf="signupForm.controls['email']?.errors?.['invalidDomain']"> Email must belong to {{ emailDomainName }}. </small>
  </div>

  <!-- Phonenumber Field-->
  <label class="label" for="phonenumber">
    <span class="label-text">{{ props.phonenumberLabel }}</span>
  </label>
  <input formControlName="phonenumber" type="text" placeholder="{{ props.phonenumberPlaceholder }}" class="input input-bordered" id="phonenumber" />
  <div *ngIf="signupForm.controls['phonenumber']?.touched && signupForm.controls['phonenumber']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['phonenumber']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['phonenumber'].errors?.['pattern']"> Invalid contact number, must be 9 numbers. </small>
  </div>

  <!-- Taxpayernumber Field-->
  <label class="label" for="taxpayernumber">
    <span class="label-text">{{ props.taxpayernumberLabel }}</span>
  </label>
  <input formControlName="taxpayernumber" type="text" placeholder="{{ props.taxpayernumberPlaceholder }}" class="input input-bordered" id="taxpayernumber" />
  <div *ngIf="signupForm.controls['taxpayernumber']?.touched && signupForm.controls['taxpayernumber']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['taxpayernumber']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['taxpayernumber']?.errors?.['pattern']"> Taxpayer number must be 9 digits and contain only numeric values. </small>
  </div>

  <!-- Password Field -->
  <label class="label" for="password">
    <span class="label-text">{{ props.passwordLabel }}</span>
  </label>
  <input formControlName="password" type="password" placeholder="{{ props.passwordPlaceholder }}" class="input input-bordered" id="password" />
  <div *ngIf="signupForm.controls['password']?.touched && signupForm.controls['password']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['password']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
    <small *ngIf="signupForm.controls['password']?.errors?.['pattern']"> Password must contain at least a capital letter, a lowercase letter, a digit and a symbol. </small>
  </div>

  <!-- Confirm Password Field -->
  <label class="label" for="confirmPassword">
    <span class="label-text">{{ props.confirmPasswordLabel }}</span>
  </label>
  <input formControlName="confirmPassword" type="password" placeholder="{{ props.confirmPasswordPlaceholder }}" class="input input-bordered" id="confirmPassword" />
  <div *ngIf="signupForm.controls['confirmPassword']?.touched && signupForm.controls['confirmPassword']?.invalid" class="text-error">
    <small *ngIf="signupForm.controls['confirmPassword']?.errors?.['required']">{{ validationErrors.requiredField }}</small>
  </div>
  <div *ngIf="signupForm.controls['confirmPassword']?.touched" class="text-error">
    <small *ngIf="signupForm.hasError('mismatch')">{{ validationErrors.passwordMismatch }}</small>
  </div>

  <!-- GDPR Compliance Checkbox -->
  <label class="label cursor-pointer mt-3 justify-start" for="gdprCompliance">
    <input
      formControlName="gdprCompliance"
      type="checkbox"
      [class.checkbox-error]="signupForm.controls['gdprCompliance'].invalid && signupForm.controls['gdprCompliance'].touched"
      class="checkbox checkbox-info mr-2"
      id="gdprCompliance"
    />
    <span class="label-text" [innerHtml]="sanitizedGdprLabel"></span>
  </label>

  <!-- Signup Button -->
  <div class="form-control mt-6">
    <button class="btn btn-primary" type="submit" [disabled]="signupForm.invalid">{{ props.signupButtonLabel }}</button>
  </div>
</form>
