<div class="p-0 md:p-7 flex justify-center items-center">
  <div class="card w-full max-w-md md:max-w-lg bg-base-100 shadow-xl">
    <div class="card-body px-2 xs:px-8 min-h-screen xs:min-h-0">
      <form [formGroup]="robotTypeForm" (ngSubmit)="onSubmit()" class="form-control">
        <!-- Robot Type Name Field -->
        <label class="label" for="robotTypeName">
          <span class="label-text">{{ props.nameLabel }}</span>
        </label>
        <input formControlName="name" type="text" placeholder="{{ props.nameLabelPlaceholder }}" class="input input-bordered" id="robotTypeName" />
        <div *ngIf="robotTypeForm.controls['name'].touched && robotTypeForm.controls['name'].invalid" class="text-error">
          <small *ngIf="robotTypeForm.controls['name'].errors?.['required']">{{ props.nameLabelRequiredError }}</small>
        </div>

        <!-- Brand Field -->
        <label class="label" for="robotBrand">
          <span class="label-text">{{ props.brandLabel }}</span>
        </label>
        <input formControlName="brand" type="text" placeholder="{{ props.brandLabelPlaceholder }}" class="input input-bordered" id="robotBrand" />
        <div *ngIf="robotTypeForm.controls['brand'].touched && robotTypeForm.controls['brand'].invalid" class="text-error">
          <small *ngIf="robotTypeForm.controls['brand'].errors?.['required']">{{ props.brandLabelRequiredError }}</small>
        </div>

        <!-- Model Field -->
        <label class="label" for="robotModel">
          <span class="label-text">{{ props.modelLabel }}</span>
        </label>
        <input formControlName="model" type="text" placeholder="{{ props.modelLabelPlaceholder }}" class="input input-bordered" id="robotModel" />
        <div *ngIf="robotTypeForm.controls['model'].touched && robotTypeForm.controls['model'].invalid" class="text-error">
          <small *ngIf="robotTypeForm.controls['model'].errors?.['required']">{{ props.modelLabelRequiredError }}</small>
        </div>

        <!-- Types of Tasks Field -->
        <label class="label" for="robotTypeTasks">
          <span class="label-text">Select task type</span>
        </label>
        <label class="label cursor-pointer justify-start" for="surveillanceTaskCheckbox">
          <input formControlName="surveillanceTaskCheckbox" type="checkbox" class="checkbox checkbox-info mr-2" id="surveillanceTaskCheckbox" />
          <span class="label-text">Surveillance</span>
        </label>

        <label class="label cursor-pointer justify-start" for="pickupDeliveryTaskCheckbox">
          <input formControlName="pickupDeliveryTaskCheckbox" type="checkbox" class="checkbox checkbox-info mr-2" id="pickupDeliveryTaskCheckbox" />
          <span class="label-text">Pick-up and Delivery</span>
        </label>
        <small *ngIf="robotTypeForm.hasError('atLeastOneTaskRequired')">Choose at least one task type</small>

        <!-- Error and Success Messages -->
        <app-form-error-list [errorResponse]="errorResponse"></app-form-error-list>
        <app-success-form-message [message]="submitSuccessMessage"></app-success-form-message>

        <!-- Submit Button -->
        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit" [disabled]="robotTypeForm.invalid || isLoading">
            <span *ngIf="!isLoading">{{ props.submitButtonLabel }}</span>
            <span *ngIf="isLoading">
              <span class="loading loading-dots"></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
