<div class="p-0 md:p-7 flex justify-center items-center">
    <div class="card w-full max-w-md md:max-w-lg bg-base-100 shadow-xl">
      <div class="card-body px-2 xs:px-8 min-h-screen xs:min-h-0">
        <!-- Robot Creation Form -->
        <form [formGroup]="robotForm" (ngSubmit)="onSubmit()" class="form-control">
          <!-- Robot Code Field -->
          <label class="label" for="robotCode">
            <span class="label-text">{{ props.robotCodeLabel }}</span>
          </label>
          <input formControlName="code" type="text" placeholder="{{ props.robotCodePlaceholder }}" class="input input-bordered" id="robotCode" />
          <div *ngIf="robotForm.controls['code'].touched && robotForm.controls['code'].invalid" class="text-error">
            <small *ngIf="robotForm.controls['code'].errors?.['required']">{{ props.robotCodeRequiredError }}</small>
            <small *ngIf="robotForm.controls['code'].errors?.['maxlength']">{{ validationErrors.stringmaxlength | errorMessage: { max: 30 } }}</small>
            <small *ngIf="robotForm.controls['code'].errors?.['pattern']">{{ validationErrors.onlyAlphanumerics }}</small>
          </div>
  
          <!-- Robot Nickname Field -->
          <label class="label" for="robotNickname">
            <span class="label-text">{{ props.robotNicknameLabel }}</span>
          </label>
          <input formControlName="nickname" type="text" placeholder="{{ props.robotNicknamePlaceholder }}" class="input input-bordered" id="robotNickname" />
          <div *ngIf="robotForm.controls['nickname'].touched && robotForm.controls['nickname'].invalid" class="text-error">
            <small *ngIf="robotForm.controls['nickname'].errors?.['required']">{{ props.robotNicknameRequiredError }}</small>
            <small *ngIf="robotForm.controls['nickname'].errors?.['maxlength']">{{ validationErrors.stringmaxlength | errorMessage: { max: 30 } }}</small>
            <small *ngIf="robotForm.controls['nickname'].errors?.['pattern']">{{ validationErrors.onlyAlphanumerics }}</small>
          </div>
  
          <!-- Robot Serial Number Field -->
          <label class="label" for="robotSerialNumber">
            <span class="label-text">{{ props.robotSerialNumberLabel }}</span>
          </label>
          <input formControlName="serialNumber" type="text" placeholder="{{ props.robotSerialNumberPlaceholder }}" class="input input-bordered" id="robotSerialNumber" />
          <div *ngIf="robotForm.controls['serialNumber'].touched && robotForm.controls['serialNumber'].invalid" class="text-error">
            <small *ngIf="robotForm.controls['serialNumber'].errors?.['required']">{{ props.robotSerialNumberRequiredError }}</small>
            <small *ngIf="robotForm.controls['serialNumber'].errors?.['maxlength']">{{ validationErrors.stringmaxlength | errorMessage: { max: 30 } }}</small>
            <small *ngIf="robotForm.controls['serialNumber'].errors?.['pattern']">{{ validationErrors.alphanumericWithSpaces }}</small>
          </div>
  
          <!-- Robot Type Field -->
          <label class="label" for="robotType">
            <span class="label-text">{{ props.robotTypeLabel }}</span>
          </label>
          <input formControlName="type" type="text" placeholder="{{ props.robotTypePlaceholder }}" class="input input-bordered" id="robotType"/>
          <div *ngIf="robotForm.controls['type'].touched && robotForm.controls['type'].invalid" class="text-error">
            <small *ngIf="robotForm.controls['type'].errors?.['required']">{{ props.robotTypeRequiredError }}</small>
            <small *ngIf="robotForm.controls['type'].errors?.['pattern']">{{validationErrors.alphanumericWithSpaces}} </small>
            <small *ngIf="robotForm.controls['type'].errors?.['maxlength']"> {{ validationErrors.stringmaxlength | errorMessage: { max: 25 } }}</small>
          </div>

          <!-- Robot Description Field -->
          <label class="label" for="robotDescription">
            <span class="label-text">{{ props.robotDescriptionLabel }}</span>
          </label>
          <textarea formControlName="description" placeholder="{{ props.robotDescriptionPlaceholder }}" class="textarea textarea-bordered" id="robotDescription"></textarea>
          <div *ngIf="robotForm.controls['description'].touched && robotForm.controls['description'].invalid" class="text-error">
            <small *ngIf="robotForm.controls['description'].errors?.['maxlength']">{{ validationErrors.stringmaxlength | errorMessage: { max: 250 } }}</small>
          </div>
  
          <app-form-error-list [errorResponse]="errorResponse"></app-form-error-list>
          <app-success-form-message [message]="submitSuccessMessage"></app-success-form-message>
  
          <!-- Submit Button -->
          <div class="form-control mt-6">
            <button class="btn btn-primary" type="submit" [disabled]="robotForm.invalid || isLoading">
              <span *ngIf="!isLoading">{{ props.submitButtonLabel }}</span>
              <span *ngIf="isLoading">
                <span class="loading loading-dots"></span>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  