<nav class="navbar bg-base-100 fixed w-full z-10 top-0">
  <div class="container mx-auto flex flex-wrap items-center">
    <!-- Dropdown for SmallScreen Links -->
    <div class="dropdown md:hidden">
      <label tabindex="0" class="btn btn-ghost btn-circle" for="linksDropdown">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </label>

      <app-recursive-menu-dropdown
        tabindex="0"
        id="linksDropdown"
        class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        [links]="props.links"
      ></app-recursive-menu-dropdown>
    </div>

    <!-- Title -->
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-2xl">{{ props.title }}</a>
    </div>

    <!-- Regular Navbar Links for Larger Screens -->
    <div class="hidden md:flex flex-none mr-4">
      <app-recursive-menu-dropdown class="menu menu-horizontal dropdown-content p-0" [links]="this.props.links"></app-recursive-menu-dropdown>
    </div>

    <!-- User Profile Dropdown -->
    <!-- SmallScreen: Avatar Profile Dropdown -->
    <div class="xs:hidden">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle" for="profileDropdownSmallScreen">
          <div class="avatar placeholder">
            <div class="bg-neutral-focus text-neutral-content rounded-full w-8">
              <span>{{ props.profileDropdown.name[0] }}</span>
            </div>
          </div>
        </label>
        <ul tabindex="0" id="profileDropdownSmallScreen" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
          <li *ngFor="let link of props.profileDropdown.links">
            <a href="{{ link.href }}">{{ link.label }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Larger screens: Standard Profile Dropdown -->
    <div class="hidden xs:block">
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li>
            <details>
              <summary>
                {{ props.profileDropdown.name }}
              </summary>
              <ul class="p-2 bg-base-100">
                <li *ngFor="let link of props.profileDropdown.links">
                  <a href="{{ link.href }}">{{ link.label }}</a>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
