<div *ngIf="floors.length; else loading" class="daisy-flex daisy-flex-col">
  <div *ngFor="let floor of floors" class="collapse collapse-arrow bg-base-200 mb-2">
    <input type="checkbox" />
    <div class="collapse-title text-lg font-medium">
      <span class="badge badge-lg mr-3">Floor Number: {{ floor.floorNumber }}</span>
    </div>
    <div class="collapse-content">
      <p *ngIf="floor.description" class="text-sm mb-1"><strong>Description:</strong> {{ floor.description }}</p>
      <p *ngIf="floor.servedByElevator" class="text-sm mb-1">Is served by elevator</p>
      <p *ngIf="floor.map !== null" class="text-sm mb-2">Has a map</p>
      <div class="flex space-x-1">
        <!--<button class="btn btn-xs btn-outline" (click)="editFloor(floor.code)">Edit</button>-->
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="flex items-center justify-center h-screen">
    <div class="bg-gray-400 rounded-lg p-6 text-white text-center">
      <p class="text-4xl font-bold mb-4">Building with this code doesn't exist or has no floors yet</p>
    </div>
  </div>
</ng-template>
