<div class="container p-0 md:p-7 flex justify-center items-center">
  <div class="card w-full max-w-md md:max-w-lg bg-base-100 shadow-xl">
    <div class="card-body px-2 xs:px-8 min-h-screen xs:min-h-0">
      <!-- Passage Form -->
      <form [formGroup]="passageForm" (ngSubmit)="onSubmit()" class="form-control">
        <!-- Building Code Field -->
        <label class="label" for="buildingCode1">
          <span class="label-text">Building Code 1</span>
        </label>
        <input formControlName="buildingCode1" type="text" placeholder="Enter Building Code" class="input input-bordered" id="buildingCode1" />
        <div *ngIf="passageForm.controls['buildingCode1'].touched && passageForm.controls['buildingCode1'].invalid" class="text-error">
          <small *ngIf="passageForm.controls['buildingCode1']?.errors?.['required']">Building Code is required</small>
        </div>

        <!-- Floor Number Field -->
        <label class="label" for="floorNumber1">
          <span class="label-text">Floor Number 1</span>
        </label>
        <input formControlName="floorNumber1" type="number" placeholder="Enter Floor Number" class="input input-bordered" id="floorNumber1" />
        <div *ngIf="passageForm.controls['floorNumber1'].touched && passageForm.controls['floorNumber1'].invalid" class="text-error">
          <small *ngIf="passageForm.controls['floorNumber1']?.errors?.['required']">Floor Number is required</small>
        </div>

        <!-- Building Code Field -->
        <label class="label" for="buildingCode2">
          <span class="label-text">Building Code 2</span>
        </label>
        <input formControlName="buildingCode2" type="text" placeholder="Enter Building Code" class="input input-bordered" id="buildingCode2" />
        <div *ngIf="passageForm.controls['buildingCode2'].touched && passageForm.controls['buildingCode2'].invalid" class="text-error">
          <small *ngIf="passageForm.controls['buildingCode2']?.errors?.['required']">Building Code is required</small>
        </div>

        <!-- Floor Number Field -->
        <label class="label" for="floorNumber2">
          <span class="label-text">Floor Number 2</span>
        </label>
        <input formControlName="floorNumber2" type="number" placeholder="Enter Floor Number" class="input input-bordered" id="floorNumber2" />
        <div *ngIf="passageForm.controls['floorNumber2'].touched && passageForm.controls['floorNumber2'].invalid" class="text-error">
          <small *ngIf="passageForm.controls['floorNumber2']?.errors?.['required']">Floor Number is required</small>
        </div>

        <app-form-error-list [errorResponse]="errorResponse"></app-form-error-list>

        <!-- Submit Button -->
        <div class="form-control mt-6">
          <button class="btn btn-primary" type="submit" [disabled]="passageForm.invalid || isLoading">
            <span *ngIf="!isLoading">Create Passage</span>
            <span *ngIf="isLoading">
              <span class="loading loading-dots"></span>
            </span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
